@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
   background-color: black;
}

@font-face {
   font-family: "evance";
   src: url(../../public/fonts/evanescent.ttf);
 }
 
 
 ::-webkit-scrollbar {
   background-color: black;
   width: 6px;
 }
 
 ::-webkit-scrollbar-thumb {
   background-color: rgb(56, 0, 0);
   border-radius: 20px;
 }


 .glow-overlay {
  --glow-size: 15rem;

  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--glow-opacity, 0);
  mask: radial-gradient(
    var(--glow-size) var(--glow-size) at var(--glow-x) var(--glow-y),
    var(--glow-color) 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}